h1{
   
    font-size: 40px;
    color: darkred;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ93LhD7IR--uvGXqfEQ471xcvQwqWTuDgkyg&usqp=CAU);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 200px;
font-size:large;
background-size:1800px;
color:yellow;
    
} 
table{
    border:4px solid yellowgreen;
    background-image: url(https://astronomy.com/-/media/Images/News%20and%20Observing/Sky%20this%20Week/STW%202021/June/summerevening.jpg?mw=600);
    background-size: cover;
}