h1{
   
    font-size: 40px;
    color: aqua;
}
body{
    background: url(https://image.shutterstock.com/image-photo/river-stream-waterfall-forest-landscape-260nw-1585363855.jpg);
    background-size: cover;
}